<template>
  <div class="swiper-container swiper-container-v swiper-container-v-section2">
    <div class="swiper-wrapper">
      <div
        id="section2"
        class="swiper-slide section active section2 swiper-slide-next background-image"
        :style="{ backgroundImage: `url('${backgroundImage}')` }"
      >
      </div>
      <div class="swiper-slide">Vertical Slide 2</div>
      <div class="swiper-slide">Vertical Slide 3</div>
      <div class="swiper-slide">Vertical Slide 4</div>
      <div class="swiper-slide">Vertical Slide 5</div>
    </div>
  </div>
</template>

<script>
import backgroundImage from "../../assets/images/content/IMAGE_FLOAT_APPAREL.png";
import Swiper from "swiper";

export default {
  name: "Section2",
  data() {
    return {
      backgroundImage,
      section2Swiper: null
    };
  },
  mounted() {
    this.section2Swiper = new Swiper(".swiper-container-v-section2", {
      direction: "vertical",
      speed: 1500,
      mousewheel: true
    });
  },
  methods: {
    navigate: function(slidenumber) {
      this.section2Swiper.slideTo(slidenumber);
    }
  }
};
</script>

<style scoped>
.section {
  align-items: unset !important;
}
.title-wrap {
  transform: translate3d(50%, 50%);
}
h1 {
  transform: rotate(270deg);
  transition-duration: 0ms;
  width: fit-content;
  font-weight: bold;
  margin-top: 15%;
  margin-left: 50px;
  font-size: 55px;
  color: white;
}
</style>
