<template>
  <div
    :class="`swiper-container swiper-container-v swiper-container-v-section3${selectedFromMenu ? '-selected' : ''}`"
  >
    <div class="swiper-wrapper">
      <div
        id="section3"
        class="swiper-slide section active section3 swiper-slide-next background-image"
        :style="{ backgroundImage: `url('${backgroundImage}')` }"
      ></div>
      <div class="swiper-slide project-about">
        <h2 :style="labelStyles">HAIR</h2>
        <img class="insta-icon" :src="insta_icon" />
        <projectAbout ref="about" style="width:101%" :appendSuffix="selectedFromMenu" />
      </div>
    </div>
  </div>
</template>

<script>
import backgroundImage from "@/assets/images/carousel/HAIR.jpg";
import insta_icon from "@/assets/images/INSTAGRAM.png";

import projectAbout from "./projectAbouts/_3About";

import Swiper from "swiper";

export default {
  name: "Section3",
  props: {
    selectedFromMenu: {
      type: Boolean,
      default: false
    }
  },
  components: {
    projectAbout
  },
  data() {
    return {
      backgroundImage,
      section3Swiper: null,
      insta_icon,
      slideHeight: 531,
      slideWidth: 1220,
      labelHeight: 300
    };
  },
  computed: {
    labelStyles() {
      return {
        "margin-left": `calc(${this.slideWidth}px * 0.083)`,
        bottom: `calc(calc(${this.slideHeight}px - ${this.labelHeight}px) / 2)`
      };
    }
  },
  mounted() {
    this.section3Swiper = new Swiper(
      `.swiper-container-v-section3${this.selectedFromMenu ? "-selected" : ""}`,
      {
        direction: "vertical",
        parallax: true,
        speed: 1500,
        mousewheel: false,
        nested: true,
        allowTouchMove: false,
        on: {
          slideChangeTransitionStart: () => {
            if (this.section3Swiper.realIndex != 3) {
              this.$store.commit("setprojectEndReached", false);
            }
            this.$store.commit(
              "setLeftRightNavDisabled",
              this.section3Swiper.realIndex != 0
            );
          },
          slideChangeTransitionEnd: () => {
            if (this.section3Swiper.realIndex == 3) {
              this.$store.commit("setprojectEndReached", true);
            }
          }
        }
      }
    );
  },
  methods: {
    navigate: function() {
      if (this.section3Swiper.realIndex == 0) {
        this.section3Swiper.slideTo(1);
      } else {
        this.$refs.about.navigate();
      }
    },
    returnToTop: function() {
      this.section3Swiper.slideTo(0);
    },
    reset: function() {
      this.returnToTop();
      this.$refs.about.returnToTop();
    },
    updateLabelPosition: function() {
      this.displaySize = this.$refs["single-image"].offsetWidth;
    }
  }
};
</script>

<style scoped>
.insta-icon {
  position: absolute;
  margin: 0;
  width: 45px;
  right: 5%;
}
.section {
  align-items: unset !important;
}
.title-wrap {
  transform: translate3d(50%, 50%);
}
h1 {
  transform: rotate(270deg);
  transition-duration: 0ms;
  width: fit-content;
  font-weight: bold;
  margin-top: 15%;
  margin-left: 100px;
  font-size: 55px;
  color: white;
}
.project-about h2 {
  -webkit-transform: rotate(270deg);
  font-weight: bold;
  font-size: 55px;
  position: absolute;
  margin: 0;
  line-height: 0px;
  transform: rotate(270deg);
  transform-origin: left;
}
</style>
