<template>
  <transition enter-active-class="zoomIn" leave-active-class="zoomOut">
    <div v-if="!beginLeaveAnimation" class="content-block">
      <div class="swiper-container swiper-container-multi-single">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="content-section" @click="triggerAnimation">
              <h6>SLOT 1</h6>
              <img :src="backgroundImage" style="width: 100%" />
            </div>
            <div class="content-section" @click="triggerAnimation">
              <img :src="backgroundImage" style="width: 100%" />
              <h6>SLOT 2</h6>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-section" @click="triggerAnimation">
              <h6>SLOT 3</h6>
              <img :src="backgroundImage" style="width: 100%" />
            </div>
            <div class="content-section" @click="triggerAnimation">
              <img :src="backgroundImage" style="width: 100%" />
              <h6>SLOT 4</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Section3 v-if="startEnterAnimation" />
  </transition>
</template>

<script>
import Swiper from "swiper";
import backgroundImage from "@/assets/images/content/IMAGE_FLOAT_APPAREL.png";

import Section3 from "./_3";

export default {
  name: "Content",
  data() {
    return {
      backgroundImage,
      contentSingleSlider: null,
      beginLeaveAnimation: false,
      startEnterAnimation: false
    };
  },
  components: {
    Section3
  },
  mounted() {
    this.contentSingleSlider = new Swiper(".swiper-container-multi-single", {
      slidesPerView: 2,
      spaceBetween: 50,
      loop: true
    });
  },
  methods: {
    nextSlide: function() {
      this.contentSingleSlider.slideNext();
    },
    previousSlide: function() {
      this.contentSingleSlider.slidePrev();
    },
    triggerAnimation: function() {
      // this.beginLeaveAnimation = true;
      // setTimeout(() => {
      //   this.startEnterAnimation = true;
      // }, 200);
    }
  }
};
</script>
<style scoped>
.swiper-container-multi-single {
  height: 100%;
  width: 100%;
  top: unset;
}
.content-block {
  width: 65%;
  margin: auto;
}
.swiper-slide {
  align-items: unset;
  display: block;
}
.content-section {
  height: 50%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    display: block;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    display: block;
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
  animation-duration: 0s;
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.zoomOut {
  animation-name: zoomOut;
  animation-duration: .2s;
}
</style>