<template>
  <div style="width: 100%" class>
    <div class="swiper-container swiper-container-v swiper-container-v-home">
      <div class="swiper-wrapper">
        <div
          id="section0"
          class="swiper-slide section active section0 swiper-slide-active background-image"
          :style="{ backgroundImage: `url('${backgroundImage}')` }"
        >
          <h1
            id="author_title"
            data-swiper-parallax-x="-100%"
            style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;"
          >MASON MAKT</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import backgroundImage from "@/assets/images/carousel/HOME.jpg";
import Swiper from "swiper";

export default {
  name: "home",
  data() {
    return {
      homeSwiper: null,
      backgroundImage
    };
  },
  mounted() {
    this.homeSwiper = new Swiper(".swiper-container-v-home", {
      direction: "vertical",
      speed: 1500
    });
  }
};
</script>