<template>
  <div
    :class="`swiper-container swiper-container-v swiper-container-v-projectAbout${appendSuffix ? '-selected' : ''}`"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide description">
        <p>
          We wear it to reflect out personality, to attract attention, to protect a chosen identity or to even seize the mood of the moment.
          Our hair undeniably plays an important role in our life and identity. This series explores our connection with hair.
        </p>
        <img class="insta-icon" :src="insta_icon" />
      </div>
      <div class="swiper-slide">
        <div :style="doubleImageStyles">
          <div style="width:50%; display: inline-block; text-align:left">
            <img :src="label" style="height: 100%; display: inline-block; margin-right: 20px" />
            <img :src="portraitimage1" style="height:100%" />
          </div>
          <div style="width:50%; display: inline-block; text-align:right">
            <div>
              <img :src="portraitimage1" style="height: 100%; display: inline-block;" />
              <img :src="label" style="height: 100%; display: inline-block; margin-left: 20px" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div style="margin: auto; height:99%">
          <div ref="single-image">
            <img :src="image1" style="height: 100%; display: inline-block;" />
            <img :src="label" style="height: 100%; display: inline-block; margin-left: 20px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import portraitimage1 from "@/assets/images/content/section1/PORTRAIT_IMAGE_1.png";
import image1 from "@/assets/images/content/section1/IMAGE_1.png";
import insta_icon from "@/assets/images/INSTAGRAM.png";
import label from "@/assets/images/LABELS.png";

import Swiper from "swiper";

export default {
  name: "projectAbout",
  props: {
    appendSuffix: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      projectAboutSwiper: null,
      portraitimage1,
      image1,
      insta_icon,
      label,
      displaySize: 0,
      displaySizeTimer: null
    };
  },
  computed: {
    doubleImageStyles() {
      return {
        width: `${this.displaySize}px`,
        margin: "auto",
        height: "95%"
      };
    }
  },
  created() {
    this.displaySizeTimer = setTimeout(() => {
      while (this.displaySize < 100) {
        this.updateDisplaySize();
      }
      clearTimeout(this.displaySizeTimer);
    }, 1000);
    window.onresize = () => {
      this.updateDisplaySize();
    };
  },
  mounted() {
    this.updateDisplaySize();

    this.projectAboutSwiper = new Swiper(`.swiper-container-v-projectAbout${this.appendSuffix ? '-selected' : ''}`, {
      direction: "vertical",
      parallax: true,
      speed: 1500,
      mousewheel: true,
      allowTouchMove: false,
      on: {
        slideChangeTransitionEnd: () => {
          if (this.projectAboutSwiper.realIndex == 0) {
            this.$parent.returnToTop();
          }
        }
      }
    });
  },
  methods: {
    navigate: function() {
      if (this.projectAboutSwiper.realIndex == 2) {
        this.projectAboutSwiper.slideTo(0, 1000);
      } else {
        this.projectAboutSwiper.slideTo(++this.projectAboutSwiper.realIndex);
      }
    },
    returnToTop: function() {
      this.projectAboutSwiper.slideTo(0);
    },
    updateDisplaySize: function() {
      this.displaySize = this.$refs["single-image"].offsetWidth;
    }
  }
};
</script>
<style scoped>
.insta-icon {
  position: absolute;
  margin: 0;
  width: 45px;
  right: 5%;
}
.description p {
  width: 60%;
  margin: auto;
  font-size: 21px;
  text-transform: uppercase;
}
</style>