@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap");

html,
body,
div {
  height: 100%;
}
html {
  overflow: hidden;
}

body {
  margin: 0px !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #000000;
}

p {
  margin: 1em 0;
  font-family: Helvetica, Arial, sans-serif;
}

p,
a {
  font-size: 1rem;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.3em;
  margin: 1em 0;
  letter-spacing: -0.02em;
  font-weight: lighter;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4.2rem;
    line-height: 1.3em;
    padding: 0 0 3em 0;
    letter-spacing: -0.02em;
    font-weight: lighter;
  }
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4.6rem;
    line-height: 1.3em;
    padding: 0 0 3em 0;
    letter-spacing: -0.02em;
    font-weight: lighter;
  }
}

.section img.here {
  width: 110px;
  height: 60px;
  vertical-align: top;
  margin: 10px 0 0 15px;
  float: right;
}

@media screen and (min-width: 1300px) {
  .section img.here {
    width: 200px;
    height: 85px;
    vertical-align: top;
    margin: 10px 0 0 -15px;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: normal;
  margin: 1em 0;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 1em 0;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 1em 0 0.5em;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 90px;
  padding: 6px 0 0 8px;
  z-index: 99999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ja-wrapper {
  margin: 0 auto;
  padding: 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.strokes {
  /* background:  url(../images/strokes.svg) no-repeat bottom center; */
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

.overlay-content {
  position: relative;
  top: 25vh;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content a,
.overlay-content p {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: #dddddd;
  display: block;
  transition: 0.3s;
  text-indent: 0.3em;
  margin-right: 0.3em;
}

@media screen and (min-width: 1100px) {
  .overlay-content a,
  .overlay-content p {
    font-size: 1.6rem;
    line-height: 1.5em;
    text-indent: 0.3em;
    margin-right: 0.3em;
  }
}

@media screen and (min-width: 1800px) {
  .overlay-content a,
  .overlay-content p {
    font-size: 1.8rem;
    line-height: 1.5em;
    text-indent: 0.3em;
    margin-right: 0.3em;
  }
}

/* Home  slides */

.section0 h1 {
  margin-top: 0;
  text-align: left;
  padding: 20px 40px;
  font-size: 3.2rem;
  line-height: 1.3em;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 350px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 3.2rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 410px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 3.6rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 700px) {
  .section0 h1 {
    font-size: 3.8rem;
    line-height: 1.3em;
    margin-right: 5%;
  }
  .section0 h1 a {
    font-size: 3.8rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 1300px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 4.5rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 1600px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 5rem;
    line-height: 1.3em;
  }
  .section0 h1 {
    width: 30%;
  }
}

@media screen and (min-width: 2800px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 6rem;
    line-height: 1.3em;
  }

  .section0 h1 {
    width: 30%;
  }
}

@media screen and (min-width: 3500px) {
  .section0 h1,
  .section0 h1 a {
    font-size: 7rem;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 850px) {
  .section3,
  .section1,
  .section14 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+87,ededed+90,ededed+90,dbdbdb+91,e5e5e5+92,ffffff+92,e5e5e5+92,ffffff+92,ffffff+95,ffffff+96,f4ebeb+96,ffffff+98,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #ffffff 0%,
      #ffffff 92%,
      #ededed 95%,
      #e5e5e5 96%,
      #e5e5e5 98.5%,
      #ffffff 98.5%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #ffffff 0%,
      #ffffff 95%,
      #f8f8f9 95%,
      #f0f0f1 97.5%,
      #cccccc 98.5%,
      #ffffff 98.5%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff 92%,
      #ededed 95%,
      #e5e5e5 96%,
      #e5e5e5 98.5%,
      #ffffff 98.5%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    background-color: #fff;
  }
}

.section12 {
  /* background:url(../images/bird-s.jpg) center bottom no-repeat; */
  background-size: 80vh;
}

@media screen and (min-width: 650px) {
  .section12 {
    /* background:url(../images/bird.jpg) center bottom no-repeat; */
    background-size: 100%;
  }
}

@media screen and (min-width: 1650px) {
  .section12 {
    background-size: 80vh;
  }
}

@media screen and (min-width: 2400px) {
  .section12 {
    background-size: 100vh;
  }
}

.section12 p {
  margin-top: -51%;
  margin-left: 50%;
}

.section12 img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.moving-back .section12 img {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.section7 {
  /* background:url(../images/poppy-bg.png) center center no-repeat; */
  background-size: cover;
}

@media screen and (min-width: 650px) {
  .section7 {
    /* background:url(../images/poppy-bg.png) center center no-repeat; */
  }
}

.section11 {
  /* background:url(../images/leylla.png) center center no-repeat; */
  background-size: 80%;
}

@media screen and (min-width: 650px) {
  .section11 {
    /* background:url(../images/leylla.png) center center no-repeat; */
    background-size: 60vh;
  }
}

.section3 {
  /* background:url(../images/poppy-bg-r.png) left center no-repeat; */
  background-size: cover;
}

.section6 {
  /* background:url(../images/poppy-bg-l.png) right center no-repeat; */
  background-size: cover;
}

p.card {
  color: #ffffff;
  background: #000000;
  padding: 20px 30px;
  font-weight: 100;
}

.section0,
.section14,
.section13,
.section11,
.section10,
.section9,
.section8,
.section7,
.section6,
.section5,
.section3,
.section2,
.section1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .section0 {
    flex-direction: row;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
}

.section img {
  width: 90%;
  max-width: 100%;
}

.section5 img {
  width: auto;
  max-width: 100%;
  height: 55vh;
}

@media screen and (min-width: 1000px) {
  .section img {
    height: 60vh;
    width: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: 1000px) and (orientation: portrait) {
  .section img {
    width: 70%;
    max-width: 100%;
    height: auto;
  }
}

.section0 img {
  height: 50vh;
  width: auto;
}

@media screen and (min-width: 700px) {
  .section0 img {
    width: 25%;
    height: auto;
    max-width: 100%;
    margin: 0;
    max-height: 100vh;
    margin-left: 5%;
  }
}

.section12 img {
  width: 130px;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .section12 img {
    width: 300px;
    height: auto;
  }
}

.section.section7 {
  width: 90%;
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .section.section7 img {
    height: 80vh;
    width: auto;
    max-width: 100%;
  }
}

.slides-menu {
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 999;
}

.swiper-container {
  width: 85%;
  height: 75%;
  top: 7%;
}

.swiper-container-h {
  width: 85%;
  height: 75%;
  top: 13%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  height: calc(100vh - 50px);
  padding-top: 50px;
  width: 100%;
}

.to-animate {
  opacity: 0;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -o-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.swiper-scrollbar {
  background: none;
}

.swiper-scrollbar-drag {
  background: #000;
  border-radius: 0;
}

.section5 {
  background-color: #f8f8f9;
}

.section5 .chair-large {
  position: absolute;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 800px) {
  .section5 .chair-large {
    /* background:url(../images/chair.png) left top no-repeat; */
  }
}

.doublepic img {
  width: 70%;
  height: auto;
  margin: 20% 0 0 20%;
}

@media screen and (min-width: 650px) {
  .doublepic img {
    width: 40vh;
    height: auto;
    margin: 10vh 0 0 10vh;
  }
}

.section13 p {
  width: 100%;
}

.section13 svg {
  width: 60%;
  height: auto;
  margin-top: -8%;
}

.link-back {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

.link-back:hover {
  border-bottom: 5px solid #000;
  text-decoration: none;
}

/*JA*/
.me-ja {
  width: 70px;
  height: 70px;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  overflow: hidden;
  border-radius: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 99999;
}

.me-ja:hover,
.me-ja:active,
.open.me-ja {
  background: #000;
}

@media screen and (min-width: 650px) {
  .me-ja {
    font-size: 30px;
  }
}

@media screen and (min-width: 1250px) {
  .me-ja {
    font-size: 40px;
    line-height: 1em;
  }
}

@media screen and (min-width: 2050px) {
  .me-ja {
    font-size: 60px;
    line-height: 1em;
  }
}

.me-ja svg {
  width: 46px;
  height: auto;
}

.me-ja svg path,
.me-ja svg polygon {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.open.me-ja svg path,
.me-ja:hover svg polygon,
.me-ja:active svg polygon,
.me-ja:hover svg path,
.me-ja:active svg path {
  fill: #ffffff;
}

.open.me-ja {
  width: 150vh;
  height: 150vh;
  margin-left: -50vh;
  margin-top: -50vh;
}

.nameletters svg {
  position: absolute;
  top: 15px;
  left: 20px;
}

.ido {
  color: #666666;
}

.skills {
  margin-left: 60vh;
  margin-top: 70vh;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.open .skills {
  width: 50vh;
  height: 50vh;
  opacity: 1;
  overflow: scrollbar;
}

.skills li {
  list-style: none;
  margin-left: -20vh;
  margin-bottom: 0.5em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.skills li:nth-child(3) {
  margin-left: -25vh;
}
.skills li:nth-child(4) {
  margin-left: -30vh;
}

.skills li:nth-child(7) {
  margin-left: -35vh;
}
.skills li:nth-child(8) {
  margin-left: -40vh;
}

.skills li:nth-child(9) {
  margin-left: -45vh;
}

.skills li:nth-child(10) {
  margin-left: -50vh;
}

.open.me-ja .skills li {
  margin-left: 0;
}
/*JA END */

#navoverlay {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 38px 30px;
  z-index: 999;
}

#ja-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: -100vh;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: #fff;
  overflow: hidden;
  /* background:  url(../images/menubg.svg) no-repeat bottom center; */
  background-size: cover;
  background-color: none;
}

.open #ja-wrapper {
  margin-top: 0;
}

#nav-ja {
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
  float: right;
  z-index: 9999;
}

#nav-ja span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#nav-ja span:nth-child(1) {
  top: 0px;
}

#nav-ja span:nth-child(2),
#nav-ja span:nth-child(3) {
  top: 11px;
}

#nav-ja span:nth-child(4) {
  top: 22px;
}

.open #nav-ja span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.open #nav-ja span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open #nav-ja span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open #nav-ja span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.open #nav-ja span {
  background: #ffffff;
}

.hide {
  display: none;
}

.blue {
  color: #044c71 !important;
}
.grey {
  color: #2d2d2d;
}
.insta_icon_styles {
  width: 40px;
}

.swiper-pagination-h {
  height: fit-content;
  top: 0;
}

.swiper-slide {
  padding-top: 0px !important;
  height: 100% !important;
  margin-bottom: 0px !important;
}

.background-image {
  background-position: center center;
  background-size: cover;
  height: 99% !important;
  width: 99%;
  margin: auto;
  border: 2px solid black;
}

.swiper-container-v {
  height: inherit;
  width: inherit;
  top: 0;
}


.about-content {
  color:  #2d2d2d;
}
.about-content h2 {
  transform: rotate(270deg);
  font-weight: bold;
  font-size: 55px;
  position: absolute;
  margin: 0;
  left: 50px;
}
.rotated-header {
  transform: rotate(270deg);
  font-weight: bold;
  font-size: 55px;
  position: absolute;
  margin: 0;
  left: 50px;
}
.about-content p {
  font-size: 21px;
  text-transform: uppercase;
  width: 50%;
  margin: auto;
}
#author_title {
  margin: 0;
  padding: 0;
}
.red-over{
  color: #ff5757 !important;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}