<template>
  <div class="container">
    <div class="half-height">
      <flickity ref="upper" :options="flickityOptions" class="carousel upper">
        <div class="carousel-cell" id="slot1" @click="onContentSelected">
          <div class="carousel-cell-content">
            <p>slot 1</p>
            <img :src="coverimage" />
          </div>
        </div>
        <div class="carousel-cell" id="slot2" @click="onContentSelected">
          <div class="carousel-cell-content">
            <p>slot 2</p>
            <img :src="coverimage" />
          </div>
        </div>
        <div class="carousel-cell" id="slot3" @click="onContentSelected">
          <div class="carousel-cell-content">
            <p>slot 3</p>
            <img :src="coverimage" />
          </div>
        </div>
        <div class="carousel-cell" id="slot4" @click="onContentSelected">
          <div class="carousel-cell-content">
            <p>slot 4</p>
            <img :src="coverimage" />
          </div>
        </div>
      </flickity>
    </div>
    <div class="half-height">
      <flickity ref="lower" :options="flickityOptions" class="carousel lower">
        <div class="carousel-cell" id="slot5" @click="onContentSelected">
          <div class="carousel-cell-content">
            <img :src="coverimage" />
            <p>slot 5</p>
          </div>
        </div>
        <div class="carousel-cell" id="slot6" @click="onContentSelected">
          <div class="carousel-cell-content">
            <img :src="coverimage" />
            <p>slot 6</p>
          </div>
        </div>
        <div class="carousel-cell" id="slot7" @click="onContentSelected">
          <div class="carousel-cell-content">
            <img :src="coverimage" />
            <p>slot 7</p>
          </div>
        </div>
        <div class="carousel-cell" id="slot8" @click="onContentSelected">
          <div class="carousel-cell-content">
            <img :src="coverimage" />
            <p>slot 8</p>
          </div>
        </div>
      </flickity>
    </div>
  </div>
</template>

<script>
// import Content from "@/components/sections/content";
import Flickity from "vue-flickity";
import coverimage from "@/assets/images/content/IMAGE_FLOAT_APPAREL.png";

export default {
  name: "ContentBlock",
  components: {
    Flickity,
    // Content
  },
  data() {
    return {
      contentSlider: null,
      flickityOptions: {
        prevNextButtons: false,
        pageDots: false,
        wrapAround: true,
        setGallerySize: false,
        selectedAttraction: 0.015,
        cellAlign: "left"
      },
      coverimage
    };
  },
  methods: {
    next() {
      this.$refs.upper.next();
      this.$refs.lower.next();
    },
    previous() {
      this.$refs.upper.previous();
      this.$refs.lower.previous();
    },
    onContentSelected() {
      this.$emit("contentSelected");
    }
  }
};
</script>
<style scoped>
.carousel-cell {
  width: 50%;
  height: 100%;
  counter-increment: gallery-cell;
}
.upper .carousel-cell .carousel-cell-content {
  height: calc(100% - 10px);
}
.lower .carousel-cell .carousel-cell-content {
  height: calc(100% - 10px);
  margin-top: 20px;
}
.carousel-cell-content {
  width: 90%;
  margin: auto;
}
.carousel-cell-content img {
  width: 100%;
}
.carousel-cell-content p {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.half-height {
  height: 50%;
}
.container {
  width: 65%;
  margin: auto;
}
</style>