<template>
  <div
    :class="`swiper-container swiper-container-v swiper-container-v-projectAbout${appendSuffix ? '-selected' : ''}`"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide description">
        <p>
          We wear it to reflect out personality, to attract attention, to protect a chosen identity or to even seize the mood of the moment.
          Our hair undeniably plays an important role in our life and identity. This series explores our connection with hair.
        </p>
      </div>
      <div class="swiper-slide">
        <div :style="doubleImageStyles">
          <div class="single-col align-left">
            <img :src="label" class="label mr-20" />
            <img :src="image_1" class="full-height" />
          </div>
          <div class="single-col align-right">
            <div>
              <img :src="image_2" class="full-height" />
              <img :src="label" class="label ml-20" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div :style="doubleImageStyles">
          <div class="single-col align-left">
            <img :src="label" class="label mr-20" />
            <img :src="image_3" class="full-height" />
          </div>
          <div class="single-col align-right">
            <div>
              <img :src="image_4" class="full-height" />
              <img :src="label" class="label ml-20" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div ref="single-image" class="single-image">
          <img :src="label" class="label mr-20 invisible" />
          <img :src="image_5" class="full-height" />
          <img :src="label" class="label ml-20" />
        </div>
      </div>
      <div class="swiper-slide">
        <div :style="doubleImageStyles">
          <div class="single-col align-left">
            <img :src="label" class="label mr-20" />
            <img :src="image_6" class="full-height" />
          </div>
          <div class="single-col align-right">
            <div>
              <img :src="image_7" class="full-height" />
              <img :src="label" class="label ml-20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import portraitimage1 from "@/assets/images/content/section1/PORTRAIT_IMAGE_1.png";
import image_1 from "@/assets/images/projects/hair/1.jpg";
import image_2 from "@/assets/images/projects/hair/2.jpg";
import image_3 from "@/assets/images/projects/hair/3.jpg";
import image_4 from "@/assets/images/projects/hair/4.jpg";
import image_5 from "@/assets/images/projects/hair/5.jpg";
import image_6 from "@/assets/images/projects/hair/6.jpg";
import image_7 from "@/assets/images/projects/hair/7.jpg";
import label from "@/assets/images/LABELS.png";

import Swiper from "swiper";

export default {
  name: "projectAbout",
  props: {
    appendSuffix: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      projectAboutSwiper: null,
      portraitimage1,
      image_1,
      image_2,
      image_3,
      image_4,
      image_5,
      image_6,
      image_7,
      label,
      displaySize: 0,
      displaySizeTimer: null
    };
  },
  computed: {
    doubleImageStyles() {
      return {
        width: `${this.displaySize}px`,
        margin: "auto",
        height: "95%"
      };
    }
  },
  created() {
    this.displaySizeTimer = setTimeout(() => {
      while (this.displaySize < 100) {
        this.updateDisplaySize();
      }
      clearTimeout(this.displaySizeTimer);
    }, 1000);
    window.onresize = () => {
      this.updateDisplaySize();
    };
  },
  mounted() {
    this.updateDisplaySize();

    this.projectAboutSwiper = new Swiper(
      `.swiper-container-v-projectAbout${this.appendSuffix ? "-selected" : ""}`,
      {
        direction: "vertical",
        parallax: true,
        speed: 1500,
        mousewheel: true,
        allowTouchMove: false,
        on: {
          slideChangeTransitionEnd: () => {
            if (this.projectAboutSwiper.realIndex == 0) {
              this.$parent.returnToTop();
            }
          }
        }
      }
    );
  },
  methods: {
    navigate: function() {
      if (this.projectAboutSwiper.isEnd) {
        this.projectAboutSwiper.slideTo(0, 1000);
      } else {
        this.projectAboutSwiper.slideTo(++this.projectAboutSwiper.realIndex);
      }
    },
    returnToTop: function() {
      this.projectAboutSwiper.slideTo(0);
    },
    updateDisplaySize: function() {
      this.displaySize = this.$refs["single-image"].offsetWidth;
    }
  }
};
</script>
<style scoped>
.description p {
  width: 60%;
  margin: auto;
  font-size: 18px;
}
img {
  border: 2px solid black;
}
.label {
  height: 100%;
  display: inline-block;
  border: none !important;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.single-col {
  width: 50%;
  display: inline-block;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.full-height {
  height: 100%;
}
.single-image {
  margin: auto;
  height: 95%;
}
.invisible{
    opacity: 0;
}
</style>