<template>
  <div class="swiper-slide">
    <h2>ABOUT</h2>
    <p>
      Welcome to my online visual journal/
      <b>portfolio</b>. I am a design graduate originally from Cape Town, South Africa.
      Creatively I have developed a passion for
      <b>film photography</b> exploring areas between commercial, artistic and abstract
      <b>story telling</b>.
    </p>
  </div>
</template>
<style scoped>
div {
  color:  #2d2d2d;
}
h2 {
  transform: rotate(270deg);
  font-weight: bold;
  font-size: 55px;
  position: absolute;
  margin: 0;
  left: -2%;
}
p {
  font-size: 21px;
  text-transform: uppercase;
  width: 60%;
  margin: auto;
}
</style>