<template>
  <div class="swiper-container swiper-container-v swiper-container-v-content-block">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <sliders ref="sliders" @contentSelected="selectedContent" />
      </div>
      <div class="swiper-slide">
        <selected />
      </div>
    </div>
  </div>
</template>

<script>
import Swiper from "swiper";
import sliders from "./content/sliders";
import selected from "./content/selected"

export default {
  name: "ContentBlock",
  components: {
    sliders,
    selected
  },
  data() {
    return {
      contentSwiper: null
    };
  },
  mounted() {
    this.contentSwiper = new Swiper(".swiper-container-v-content-block", {
      direction: "vertical",
      parallax: true,
      speed: 1500,
      mousewheel: false,
      allowTouchMove: false,
      nested: true
    });
  },
  methods: {
    next() {
      this.$refs.sliders.next();
    },
    previous() {
      this.$refs.sliders.previous();
    },
    selectedContent() {
      //show/hide content slides before navigating
      this.slideUp();
    },
    slideUp() {
      this.contentSwiper.slideTo(1);
    }
  }
};
</script>
<style scoped>
.swiper-container {
  height: 100%;
}
</style>