<template>
  <flickity ref="flickity" :options="flickityOptions" class="carousel">
    <!-- <div class="carousel-cell" id="section1">
      <section1 ref="section1" />
    </div>
    <div class="carousel-cell" id="section2">
      <section2 ref="section2" />
    </div> -->
    <div class="carousel-cell" id="home">
      <home ref="home" />
    </div>
    <div class="carousel-cell" id="section3">
      <section3 ref="section3" />
    </div>
    <!-- <div class="carousel-cell" id="section4">
      <section4 ref="section4" />
    </div> -->
  </flickity>
</template>
<script>
import Flickity from "vue-flickity";
import home from "./projects/home";
// import section1 from "./sections/_1";
// import section2 from "./sections/_2";
import section3 from "./projects/_3";
// import section4 from "./sections/_4";

export default {
  components: {
    Flickity,
    // section1,
    // section2,
    section3,
    // section4,
    home
  },

  data() {
    return {
      slider: null,
      flickityOptions: {
        initialIndex: 2,
        prevNextButtons: false,
        pageDots: false,
        wrapAround: true,
        setGallerySize: false,
        selectedAttraction: 0.015,
        draggable: false
      }
    };
  },
  mounted() {
    this.slider = 5;
  },
  methods: {
    next() {
      this.$refs.flickity.next();
    },
    previous() {
      this.$refs.flickity.previous();
    },
    showMore() {
      var selectedSlide = document.getElementsByClassName("is-selected")[0];
      switch (selectedSlide.id) {
        case "home":
          break;
        case "section1":
        case "section2":
        case "section3":
        case "section4":
          this.$refs[selectedSlide.id].navigate();
          break;
      }
    },
    resetAll() {
      //this.$refs[0].returnToTop();
      // this.$refs[1].returnToTop();
      this.$refs.flickity.select(2,true,true);
      this.$refs.section3.reset();
      // this.$refs[4].returnToTop();
    }
  }
};
</script>
<style scoped>
.carousel-cell {
  width: 100%;
  height: 100%;
  counter-increment: gallery-cell;
}
</style>