<template>
  <div class="swiper-container swiper-container-v swiper-container-v-menu">
    <div class="swiper-wrapper">
      <div class="swiper-slide menu">
        <h2>MENU</h2>
        <div class="menu-items">
          <h2 @click="$parent.toggleHome">HOME</h2>
          <h2 @click="$parent.toggleAbout">ABOUT</h2>
          <h2 @click="$parent.toggleContent">CONTENT</h2>
          <h2>EXPERIMENTS</h2>
          <h2>PRINT SHOP</h2>
          <h2>CONTACT</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swiper from "swiper";

export default {
  name: "MenuBlock",
  data() {
    return {
      menuSwiper: null
    };
  },
  mounted() {
    this.menuSwiper = new Swiper(".swiper-container-v-menu", {
      direction: "vertical",
      speed: 1500
    });
  },
  methods: {
    navigate: function(slidenumber) {
      this.menuSwiper.slideTo(slidenumber);
    }
  }
};
</script>