<template>
  <div id="myNav" class="overlay">
    <div class="overlay-content menu">
      <h2>MENU</h2>
      <div class="menu-items">
        <h2 @click="$parent.toggleHome">HOME</h2>
        <h2 @click="$parent.toggleAbout">ABOUT</h2>
        <h2 @click="$parent.toggleContent">CONTENT</h2>
        <h2>EXPERIMENTS</h2>
        <h2>PRINT SHOP</h2>
        <h2>CONTACT</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    open: function() {
      document.getElementById("myNav").style.height = "calc(100% - 170px)";
    },
    close: function() {
      document.getElementById("myNav").style.height = "0%";
    }
  }
};
</script>
<style scoped>
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  margin: 85px;
  width: calc(100% - 170px);
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: white; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 0% !important; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 0px !important; /* 30px top margin to avoid conflict with the close button on smaller screens */
      display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.menu-items {
  width: 50%;
  margin: auto;
  height: fit-content;
}
.menu-items h2 {
  margin: auto;
  width: fit-content;
  font-weight: bold;
  font-size: 55px;
  cursor: pointer;
}
.menu-items h2:hover{
  color: #ff5757;
}
.menu {
  color: #2d2d2d;
}

.menu > h2 {
  transform: rotate(270deg);
  font-weight: bold;
  font-size: 55px;
  position: absolute;
  margin: 0;
  left: 50px;
}
</style>