<template>
  <div>
    <div id="nav-top" @click="showmenu">
      <p style="line-height: initial">MENU</p>
      <h1 id="nav-top-arrow" class="nav-arrow fit-content">V</h1>
    </div>
    <div id="nav-bottom" @click="showmore" @mouseover="mouseOverMore" @mouseout="mouseOutMore">
      <h1 id="nav-bottom-arrow" class="nav-arrow fit-content" style="transform: rotate(180deg)">V</h1>
      <p
        :class="{insta_icon_styles: instaIconTriggered}"
      >{{instaIconTriggered ? "INSTAGRAM" : "MORE"}}</p>
    </div>
    <div
      id="nav-left"
      style="width: fit-content; left: 25px"
      @click="previousSlide()"
      @mouseover="mouseOverNav('nav-left-arrow')"
      @mouseout="mouseOutNav('nav-left-arrow')"
    >
      <p>LEFT</p>
      <h1 id="nav-left-arrow" class="nav-arrow" style="transform: rotate(90deg)">V</h1>
    </div>
    <div
      id="nav-right"
      @click="nextSlide()"
      @mouseover="mouseOverNav('nav-right-arrow')"
      @mouseout="mouseOutNav('nav-right-arrow')"
    >
      <h1 id="nav-right-arrow" class="nav-arrow" style="transform: rotate(270deg)">V</h1>
      <p>RIGHT</p>
    </div>
    <div class="reg-top" id="reg-top-right">
      <img :src="reg_top_right" />
    </div>
    <div class="reg-top" id="reg-top-left">
      <img :src="reg_top_left" />
    </div>
    <div id="reg-bottom-right">
      <img :src="reg_bottom_right" />
    </div>
    <div id="reg-bottom-left">
      <img :src="reg_bottom_left" />
    </div>

    <Menu ref="menu" />
    <div class="content">
      <MainSlider v-show="!showing_contentSection && !showing_aboutSection" ref="mainslider" />
      <Content ref="content" v-if="showing_contentSection" />
      <About v-show="showing_aboutSection" />
    </div>
  </div>
</template>

<script>
import arrow from "@/assets/images/ARROW_WHITE.png";
import arrow_blue from "@/assets/images/ARROW_BLUE.png";
import insta_icon from "@/assets/images/INSTAGRAM.png";
import reg_top_right from "@/assets/images/registration_corners/TOP_RIGHT.png";
import reg_top_left from "@/assets/images/registration_corners/TOP_LEFT.png";
import reg_bottom_right from "@/assets/images/registration_corners/BOTTOM_RIGHT.png";
import reg_bottom_left from "@/assets/images/registration_corners/BOTTOM_LEFT.png";
import backgroundImage from "@/assets/images/BACKGROUND_IMAGE.png";

//import Swiper from "swiper";
import MainSlider from "./MainSlider";
import Menu from "./Menu";
import Content from "./ContentBlock";
import About from "./About"

export default {
  name: "Portfolio",
  data() {
    return {
      arrow,
      arrow_blue,
      insta_icon,
      reg_top_right,
      reg_top_left,
      reg_bottom_right,
      reg_bottom_left,
      loading: true,
      instaIconTriggered: false,
      blueNavTriggered: false,
      portfolioSlider: null,
      backgroundImage,
      menuBlockActive: false,
      leftRigthNavDisabled: false,
      showing_projectSection: true,
      showing_aboutSection: false,
      showing_contentSection: false,
      contentBlockKey: 0,

      menuOpen: false
    };
  },
  mounted() {},
  components: {
    MainSlider,
    Menu,
    Content,
    About
  },
  methods: {
    nextSlide: function() {
      if (!this.$store.getters.leftRightNavDisabled) {
        if (!this.showing_aboutSection && ! this.showing_contentSection) {
          this.$refs.mainslider.next();
        } else {
          this.$refs.content.next();
        }
      }
    },
    previousSlide: function() {
      if (!this.$store.getters.leftRightNavDisabled) {
        if (this.showing_projectSection) {
          this.$refs.mainslider.previous();
        } else {
          this.$refs.content.previous();
        }
      }
    },
    showmore: function() {
      if (!this.$store.getters.moreDisabled) {
        if (!this.showing_aboutSection && ! this.showing_contentSection) {
          this.$refs.mainslider.showMore()
        } else {
          this.$refs.contentBlock.upSlide();
        }
      }
    },
    showmenu: function() {
      let nav_top = document.getElementById("nav-top-arrow");

      if (!this.menuOpen) {
        this.$refs.menu.open();
        nav_top.classList.add("flip-180");
        nav_top.classList.remove("flip-180-reverse");
      } else {
        this.$refs.menu.close();
        nav_top.classList.remove("flip-180");
        nav_top.classList.add("flip-180-reverse");
      }
      this.menuOpen = !this.menuOpen;

      // if (this.$refs.menuBlock.menuSwiper.realIndex == 1) {
      //   return this.$refs.menuBlock.navigate(0);
      // }

      // //if we are on the menu block
      // if (this.portfolioSlider.realIndex == 0) {
      //   this.menuBlockActive = false;
      //   this.portfolioSlider.slideTo(1);
      //   this.$store.commit(
      //     "setLeftRightNavDisabled",
      //     this.$store.getters.previousLeftRightValue
      //   );
      // } else {
      //   this.portfolioSlider.slideTo(0);
      //   this.$store.commit("setLeftRightNavDisabled", true);
      //   nav_top.classList.add("flip-180");
      //   nav_top.classList.remove("flip-180-reverse");
      // }
    },
    toggleContent: function() {
      this.showing_projectSection = false;
      this.showing_aboutSection = false;
      this.showing_contentSection = true;
      this.$store.commit("setLeftRightNavDisabled", false);
      this.showmenu();
    },
    toggleAbout: function() {
      this.showing_contentSection = false;
      this.showing_aboutSection = true;
        this.$store.commit("setLeftRightNavDisabled", true);
      this.forceContentRerender();
   this.showmenu();
    },
    toggleHome: function() {
      this.$refs.mainslider.resetAll();
      this.showing_projectSection = true;
      this.showing_aboutSection = false;
      this.showing_contentSection = false;
      this.$store.commit("setMoreDisabled", false);
      this.$store.commit("setLeftRightNavDisabled", false);
   this.showmenu();
    },
    triggerInstaIcon: function(value) {
      this.instaIconTriggered = value;
    },
    setSideNavigation: function(value) {
      this.leftRigthNavDisabled = value;
    },
    mouseOverNav: function(elementId) {
      if (!this.$store.getters.leftRightNavDisabled) {
        document.getElementById(elementId).classList.add("red-over");
      }
    },
    mouseOutNav: function(elementId) {
      document.getElementById(elementId).classList.remove("red-over");
    },
    mouseOverMore: function() {
      if (!this.$store.getters.moreDisabled) {
        document.getElementById("nav-bottom-arrow").classList.add("red-over");
      }
    },
    mouseOutMore: function() {
      document.getElementById("nav-bottom-arrow").classList.remove("red-over");
    },
    forceContentRerender() {
      this.contentBlockKey += 1;
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#nav-top,
#nav-bottom,
#nav-left,
#nav-right {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: fit-content;
  font-size: 13px;
  cursor: pointer;
}
#nav-top img {
  transform: rotate(180deg);
  width: 25px;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

#nav-top,
#nav-bottom {
  width: fit-content;
  margin: auto;
  left: 48%;
}

#nav-top h1:hover {
  color: #ff5757;
}

#nav-top p,
#nav-bottom p,
#nav-left p,
#nav-right p {
  font-size: 13px;
}

#nav-left p,
#nav-right p {
  transform: rotate(270deg);
}

#nav-bottom {
  bottom: 0;
}
#nav-bottom img {
  width: 25px;
}
#nav-bottom p {
  margin-top: 0;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

#nav-top img,
#nav-top p,
#nav-bottom p,
#nav-bottom img {
  cursor: pointer;
}

#nav-top p {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

#nav-left {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-inline-box;
  margin-left: 15px;
  z-index: 1000;
}

.content-title h1 {
  padding: 0 !important;
  transform: rotate(270deg);
  font-size: 55px;
  color: #044c71 !important;
  font-weight: bold;
}

#nav-right {
  position: fixed;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -50%);
  display: -webkit-inline-box;
  width: fit-content;
  z-index: 1000;
}

#nav-left img {
  transform: rotate(270deg);
  width: 25px;
  margin-top: 15px;
}

#nav-right img {
  transform: rotate(90deg);
  width: 25px;
  margin-top: 15px;
}

#reg-top-right {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

#reg-top-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#reg-bottom-right {
  position: fixed;
  z-index: 999;
}

#reg-bottom-right img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  height: 65px;
  margin: 10px;
}

#reg-bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#reg-bottom-left img {
  position: fixed;
  bottom: 0;
  height: 65px;
  margin: 10px;
}

#reg-top-right img,
#reg-top-left img {
  height: 65px;
  margin: 10px;
}

.flip-180 {
  transform: rotate(-180deg);
  transition: transform 800ms ease;
}

.flip-180-reverse {
  transform: rotate(-360deg);
  transition: transform 800ms ease;
}
.nav-arrow {
  margin: 0;
  padding: 0;
  font-size: 25pt;
  font-weight: bold;
  cursor: pointer;
}
.reg-top {
  height: fit-content;
  top: 0;
}
.fit-content {
  width: fit-content;
  margin: auto;
}
.content {
  height: calc(100% - 170px);
  padding: 85px;
}
</style>