<template>
  <div class="swiper-container swiper-container-h" style="wdith:80%; margin:auto">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Section1 ref="0" />
      </div>
      <div class="swiper-slide">
        <Section2 ref="1" />
      </div>
      <div class="swiper-slide">
        <Home ref="2" />
      </div>
      <div class="swiper-slide">
        <Section3 ref="3" />
      </div>
      <div class="swiper-slide">
        <Section4 ref="4" />
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./sections/home";
import Section1 from "./sections/_1";
import Section2 from "./sections/_2";
import Section3 from "./sections/_3";
import Section4 from "./sections/_4";

import Swiper from "swiper";

export default {
  name: "ProjectBlock",
  data() {
    return {
      swiper: null
    };
  },
  components: {
    Home,
    Section1,
    Section2,
    Section3,
    Section4
  },
  mounted() {
    this.swiper = new Swiper(".swiper-container-h", {
      initialSlide: 2,
      parallax: true,
      loop: true,
       allowTouchMove: false,
      preloadImages: true,
      updateOnImagesReady: true,
      lazy: true,
      speed: 1500,
      freeModeSticky: true
    });
  },
  methods: {
    nextSlide: function() {
      this.swiper.slideNext();
    },
    previousSlide: function() {
      this.swiper.slidePrev();
    },
    navigate: function() {
      this.$refs[this.swiper.realIndex].navigate(
        this.swiper.realIndex == 2 ? 2 : 1
      );
    },
    showmenu: function() {
      if (this.swiper.realIndex == 2) {
        this.$parent.setSideNavigation(this.$refs[2].homeSwiper.realIndex != 0);
        this.$refs[2].navigate(this.$refs[2].homeSwiper.realIndex == 0 ? 1 : 0);
      }
    },
    triggerInstaIcon: function(value) {
      this.instaIconTriggered = value;
    },
    triggerContent: function() {
      this.$parent.toggleContent();
    },
    resetAll: function(){
      //this.$refs[0].returnToTop();
     // this.$refs[1].returnToTop();
      this.$refs[3].reset();
     // this.$refs[4].returnToTop();
    }
  }
};
</script>
<style scoped>
.no-width{
  width: 0px !important;
}
</style>